<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iste reprehenderit architecto aliquid ratione provident dolorem nesciunt repellendus cupiditate et quae, unde modi! Recusandae, praesentium quisquam? Reiciendis quaerat ex error nisi debitis deserunt dolores asperiores, non vitae aspernatur odio vero.
        </p>
    </div>
</div>